*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.common-btn{
    background-color: #1d4ed8FF;
    padding: 14px 32px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
}

header{
    background-color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
    padding: 18px 30px;
    align-items: center;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 25px;
}

ul li a{
    text-decoration: none;
    color: #575757;
}


/* hero section style */

.hero{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                      url("../assets/banner.jpg");
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;

}

.hero-content h1{
    font-weight: 800;
    font-size: 72px ;
    margin-bottom: 24px;
}

.hero-content{
    max-width: 800px;
    color: #ffffffFF;
    padding: 20px;
    text-align: center;
}

.hero-content p{
    max-width: 700px;
    font-size: 1.1rem;
    line-height:  1.7;
    margin-bottom: 35px;
}

/* speaker section style */

.speakers, .pricing{
    max-width: 1300px;
    margin: 80px auto;
    padding: 30px;
}

.speakers h2, .pricing h2{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
}

.about-speakers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.box{
    background-color: white;
    border: 1px solid rgb(211, 200, 200);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.box img{
    width:100%;
    display: block;
}

.speaker-info{
    padding: 15px;
}
.speaker-info h3{
    margin: 15px 0;
}

.speaker-info p{
    color: #575757;
    line-height: 1.5;
}

.catagory{
    color: blue;
    font-weight: 700;
}

.pricing-subtitle{
    text-align: center;
    color: #575757;
    font-weight: 400;
    margin-bottom: 50px;
}

.pricing-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.price-card{
    background: white;
    border: 1px solid #d8d7d7;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.price-card small{
    color: #575757;
    font-weight: 700;
}

.price-card h3{
    font-size: 36px;
    margin: 4px 0;
}

.per{
    color: #575757;
    margin-bottom: 20px;
}

.price-card hr{
    margin: 20px 0;
    border: none;
    border-top: 1px solid #b8b7b7;
}

.price-list{
    display: block;
    padding-left: 10px;
    margin-bottom: 30px;
}

.price-list li{
    margin-bottom: 8px;
}

.outline-btn{
    width:100%;
    padding: 14px;
    border: 2px solid rgb(0, 17, 255);
    border-radius: 12px;
    background: white;
    color: rgb(0, 17, 255);
    font-weight: 700;
    cursor: pointer;
}

.contact-btn{
    color:#464b58;
    border-color:#464b58;
}

.pro-card .common-btn{
    width:100%;
}

.pro-card{
    background-color: #0f172a;
    color: white;
}
.pro-card small, .pro-card .per, .pro-card li {
    color: #d1d5db;
}